.loginPage {
	background-color: #041872;
	background: linear-gradient(rgba(11, 11, 11, 0.5)), rgba(10, 10, 10, 0.5)), url('Images/bgimage.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 120%;
}

.loginForm {
	background-color: rgb(255, 255, 255);
	color: rgb(47, 47, 47);
    
}

ul li :hover {
	background-color: #041872;
}

.employee_image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.emp_det_image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.container-fluid {
	background-color: #041872;
	color: white;
}

